.container
    TOP PAGE
    index

    = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete'}

    .juniorhigh 中学生
    .subject-title 国語
    .subject-section
        .grade
            .grade3 中３
            -@grade3_answer.each do |answer|
                .answer-item
                    =answer.title
                    =answer.memo
                    =answer.grade
        .grade
            .grade2 中２
            -@grade2_answer.each do |answer|
                .answer-item
                    =answer.title
                    =answer.memo
                    =answer.grade
        .grade
            .grade1 中１
            -@grade1_answer.each do |answer|
                .answer-item
                    =answer.title
                    =answer.memo
                    =answer.grade

    .subject-title 数学
    .subject-section
        .grade
            .grade3 中３
        .grade
            .grade2 中２
        .grade
            .grade1 中１

    .subject-title 社会
    .subject-section
        .grade
            .grade3 中３
        .grade
            .grade2 中２
        .grade
            .grade1 中１

    .subject-title-mini 歴史
    .subject-section
        .grade
            .grade3 中３
        .grade
            .grade2 中２
        .grade
            .grade1 中１

    .subject-title-mini 地理
    .subject-section
        .grade
            .grade3 中３
        .grade
            .grade2 中２
        .grade
            .grade1 中１

    .subject-title-mini 公民
    .subject-section
        .grade
            .grade3 中３
        .grade
            .grade2 中２
        .grade
            .grade1 中１

    .subject-title 理科
    .subject-section
        .grade
            .grade3 中３
        .grade
            .grade2 中２
        .grade
            .grade1 中１

    .subject-title 英語
    .subject-section
        .grade
            .grade3 中３
        .grade
            .grade2 中２
        .grade
            .grade1 中１



    .elementary 小学生