.container
    .edit-button-area
        =link_to '削除する', answer_path, data: { method: 'delete', confirm: "本当に削除しますか？"}
        =link_to '戻る', root_path
    .answer-info
        %h1=I18n.t("enum.grades.#{@answer.grade}")
        %h1=I18n.t("enum.subjects.#{@answer.subject}")
        %h1=@answer.title
        %h3=@answer.memo
.answer-image
    -@answer.image.each do |image|
        =image_tag image
