-if answers.empty?
-else
    -answers.each do |answer|
        .grade.col-sm-3.col-6
            =link_to answer_path(answer) do
                .answer-item
                    =I18n.t("enum.subjects.#{answer.subject}")
                =answer.title
                %br
                =answer.memo