-if answers.empty?
-else
    -answers.each do |answer|
        =link_to answer_path(answer),class: "grade col-sm-3 col-6" do
            .answer-item
                =I18n.t("enum.subjects.#{answer.subject}")
            =answer.title