.header
    .header-title
        A Y Z A N S E R S

    %ul.header-links
        %li
            = link_to '取扱説明書', manuals_path
        %li
            = link_to '再テスト', root_path
        %li
            = link_to '入試過去問', pastpapers_path
        %li
            = link_to '倉庫', storages_path

