

.container.manual-wrapper.text-start.mt-5

    %h1 取扱説明書

    %ul
        %li 「模範解答が多岐にわたっていて都度解答を取り出してくるのが手間である」
        %li 「（特にテスト期間中）模範解答が山積みになってしまい作業スペースが狭くなる」
        %li 「答えが一冊しかない場合に複数人で採点ができない」
    
    %div.mt-5
        %p これらを解消するため、模範解答を撮影してウェブ上で保管・閲覧するサイトを作成してみました。
        %p 以下、使用方法を説明します。

    %h2.mt-100 ①模範解答を閲覧する
    %h3 再テスト用のページ/入試過去問用のページ
    %p 再テスト用のページと入試過去問用のページがあります。
    %p ページ右上にリンクがありますので、必要に応じて切り替えて下さい。
    %p 再テストの方は原則「チェック表にある再テスト」の答案をだけを登録しておきます。ですので必要なくなったら都度削除しています。
    %p 入試過去問の方は毎年使用するので、基本削除は行いません。

    %h3 絞り込み検索
    %p 学年、教科、テキストで絞り込み検索ができます。(再テスト)
    %p 中学入試or高校入試、学校名、年度で絞り込み検索ができます。(入試過去問)

    %h3 一覧表示
    %p 絞り込み検索の下に、登録してある全ての模範解答の一覧が表示されます。
    %p もし必要な模範解答がなければ、まだ登録されていないので、登録をする必要があります。

    %h3 ※注意事項
    %p PCでもタブレットでもスマホでも閲覧が可能です。
    %p しかし、スマホをみるのはあまりよろしくないのでPC、タブレットがある場合はなるべくそちらで閲覧して下さい。どちらもなければスマホで閲覧しても構いません。ただし、「スマホみてるけど答えをみてるんです！」ってわかるような見方をして下さい。

    %h2 ②模範解答を登録する

    %p 必要な模範解答が登録されていない場合は、その模範解答を登録する必要があります。
    %p ページ上部の「新しい答えを登録する」から模範解答を登録して下さい。登録の手順は以下の通りです。
    
    %h3 (1)解答画像を撮影する
    %p 無音カメラのアプリをお持ちでしたらそのアプリで、なければなるべく音が鳴らないように注意しつつ模範解答をカメラで撮影して下さい。
    
    %h3 (2)ファイルを選択する
    %p 答え登録ページの「解答画像」の ファイルを選択　を押して、該当の画像を洗濯して下さい。
    
    %h3 (3)タイトルを入力する
    %p テキストならページ数、プリントならプリントのタイトルを入力して下さい。テキスト名は他に選択する箇所があるので、記入は不要です。
    %p テキスト名選択時に該当するテキスト名がなければここにテキスト名を記入してください。

    %h3 (4)備考を記入する
    %p 特に何もなければ空欄で構いません。採点方法に何か特別な注意点がある場合などに使用します。

    %h3 (5)学年を選択する
    %p 学年を選択します。中学生共通や小学生共通というのは、学年をまたぐようなものの場合のみ使用します。
    
    %h3 (6)テキストを選択する
    %p テキスト名を選択します。プリントの場合はプリントと選択して下さい。
    %p テキスト名がここにないものだった場合は「その他のテキスト」を選択した上で、「タイトル」のところにテキスト名を記入するようにして下さい。
    
    %h3 (7)保存する
    %p ページ下部の保存ボタンを押して登録を完了して下さい。
    
    %h2 ③模範解答を削除する
    %p 再テスト用ページでは、不要になった（再テストチェック表からそのテストがなくなった）答案は削除します。
    %p 基本的には社員が行いますので、スタッフは削除に関しては行う必要はありません。
    %p まだ必要な答案を誤って削除してしまった場合は、削除を取り消す方法は実装していないため、再度答案の登録をお願いいたします。
    
    %p.mt-100.red 何か不明な点や、バグ、仕様について要望などがありましたらお知らせください。


.container.mt-100.mb-5
    =link_to root_path do
        %button.btn.btn-primary.btn-lg.button-wide トップページに戻る

