.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

 
img {
    width: 100%;
}

.subject-title {
    width: 100%;
    background-color:whitesmoke;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    &-mini {
        font-weight: bold;
    }
}


.subject-section {
    display: flex;
    justify-content: space-between;

}

.grade {
    width: 30%;
    min-width: 200px;

}

.grade-title {
    background-color:#C7DEF1;
    margin-bottom: 8px;
}

.juniorhigh {
    background-color: navy;
    color: white;
    font-size: 30px;
}

.elementary {
    background-color: navy;
    color: white;
    font-size: 30px;
    margin-top: 40px;
}

.grade {
    text-align: center;
    border: 1px solid grey;
    padding: 3px;
    margin-bottom: 10px;
}


.button {
    height: 45px;
    font-size: 20px;

}

.button-wide {
    width:80%;
    margin-bottom: 20px;
}


